<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discussion Board</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<header>
    <div class="logo">StockSite</div>
    <nav>
        <ul>
            <li><a href="stock.html">Home</a></li>
            <li><a href="#">Market</a></li>
            <li><a href="news.html">News</a></li>
            <li><a href="post.html">Board</a></li>
            <li><a href="#">Ranking</a></li>
        </ul>
    </nav>
    <div class="search-bar">
        <input type="text" placeholder="Search...">
    </div>
    <nav>
        <ul>
            <li><a href="#">Profile</a></li>
            <li><a href="login.html">login</a></li>
        </ul>
    </nav>
</header>

<main>
    <section class="discussion">
        <h2>Discussion Board</h2>
        <div class="discussion-posts">
            <!-- Discussion posts will be dynamically added here -->
        </div>
        <form class="new-post-form"  action="post.html">
            <textarea name="postContent" id="postContent" placeholder="Write your post here..."></textarea>
            <button type="submit">Post</button>
        </form>
    </section>
</main>
</body>
</html>
