<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StockSite with KOSPI & KOSDAQ</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <header>
        <div class="logo">StockSite</div>
        <nav>
            <ul>
                <li><a href="stock.html">Home</a></li>
                <li><a href="#">Market</a></li>
                <li><a href="#">News</a></li>
                <li><a href="post.html">Board</a></li>
                <li><a href="ranking.html">Ranking</a></li>
            </ul>
        </nav>
        <div class="search-bar">
            <input type="text" placeholder="Search...">
        </div>
        <nav>
            <ul>
                <li><a href="#">Profile</a></li>
                <li><a href="login.html">login</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="ranking-section">
            <h2>유저 랭킹</h2>
            <table class="ranking-table">
                <thead>
                    <tr>
                        <th>순위</th>
                        <th>유저명</th>
                        <th>수익률</th>
                    </tr>
                </thead>
                <tbody id="rankingList">
                    <tr>
                        <td>1</td>
                        <td>User4</td>
                        <td>40%</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>User2</td>
                        <td>30%</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>User1</td>
                        <td>25%</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>User3</td>
                        <td>15%</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
    <script src="scripts.js"></script>
</body>
</html>
